html{
    font-weight: bolder;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: bisque;
    text-align: center;
    scroll-behavior:smooth;
    overflow-x: hidden;
    
}

@media(max-width:600px){
    html{
        width:200px;
        height:300px;
        font-size: 15px;
    }
}

body{
    height:100%;
    width:100%;
    margin:0;
}

#me{
    left:40px;
    position: relative;
    width:400px;
    height:400px;
    border-radius: 50%;
}

div h1{
    left : 5px;
    top:25pt;
    font-size: 35px;
    position: absolute;
    color:orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tagline{
    left : 65pt;
    top:70pt;
    font-size: 30px;
    position: absolute;
    color:saddlebrown;
    font-family: cursive;
    text-decoration: underline;
}

#abt{
    position: absolute;
    left:765pt;
    top : 65pt;
    color:orangered;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20pt;
    
}

#cont{
    position: absolute;
    left:900pt;
    top:65pt;
    font-family: cursive;
    font-weight: bolder;
    font-size: 20pt;
    color:slateblue
}


#myself{

    left:100px;
    top:390px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    color:cornflowerblue;

}

#about h2{
    font-size: 35pt;
    color:indigo;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    background-color: whitesmoke;
}

.name{
    margin-left: 397px;
    margin-right: 400px;
    font-size: 18pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:slateblue;

}


#education{
    font-weight: bolder;
    font-size: 35pt;
    text-decoration: underline ;
    font-family:initial;
    position: relative;
    color: darkcyan;
    background-color: whitesmoke;
}

#school{
    position:absolute;
    width:200px;
    border-radius: 90%;
    left:200px;
    top:1590px;
}
.educate #sch{
    position: absolute;
    left:800px;
    font-size: 20pt;
    font-weight: bolder;
    color:slategray;
}

.educate #yr{
    position: absolute;
    left:800px;
    top:1600px;
    font-size: 18pt;
    color:lightslategrey;
}

.educate #class{
    top:1635px;
    position: absolute;
    left : 783px;
    font-size: 20pt;
    color:grey;
}


#college{
    position: absolute;
    border-radius: 100%;
    width:200px;
    left:200px;
    top: 1850px;
}

#clg{
    position:absolute;
    font-size: 20pt;
    font-weight: bolder;
    color:slategray;
    top:1850px;
    left:800px;
}

#years{
    position: absolute;
    left:800px;
    top:1880px;
    font-size: 18pt;
    color:lightslategray;
}

#cse{
    position: absolute;
    left:800px;
    top:1915px;
    font-size: 20pt;
    color:gray;
}

#ongoing{
    padding:5px;
    position: absolute;
    background-color: whitesmoke;
    color:orange;
    font-size: 15pt;
    left: 1078px;
    top:1855px;
}


#skills{
    position: relative;
    top: 500px;
}

#skills h3{
    font-size: 35pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: paleturquoise;
    color:rebeccapurple;
    font-weight: bolder;
    text-decoration: underline;
}

#python img{
    position: absolute;
    width:200px;
    top:110px;
    left:300px;

}

#python p{
    position: absolute;
    top:275px;
    left:320px;
    font-size: 25pt;
}

#java img{
    position: absolute;
    top:30px;
    left:800px;
    width:500px;
}

#java p{
    position: absolute;
    top:275px;
    left:1000px;
    font-size: 25pt;
}

#css img{
    position: absolute;
    top:410px;
    left:200px;
    width:400px;
}

#css p{
    position: absolute;
    top:600px;
    left:280px;
    font-size: 25pt;
}
#sql img{
    position: absolute;
    top:370px;
    width:300px;
    left:900px;
}

#sql p{
    position: absolute;
    top:600px;
    left:970px;
    font-size: 25pt;
}


#hobbies h3{
    position: relative;
    top:1060px;
    font-size: 35pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:royalblue;
    background-color: powderblue;
    text-decoration: underline;
}

#art img{
    position: absolute;
    width:300px;
    top:2900px;
    left:250px;
    border:5px solid black;
}

#art h4{
    position: absolute;
    top:3100px;
    left:340px;
    font-size: 20pt;
}

#gaming img{
    position: absolute;
    top:2900px;
    left:900px;
    width:350px;
}

#gaming h4{
    position: absolute;
    top:3100px;
    left:1010px;
    font-size: 20pt;
}


#contact{
    position: relative;
    top:1400px;
    font-size: 35pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    color:mediumpurple;
    text-decoration: underline;
}

#contact #linkedin img{
    position: absolute;
    top:100px;
    left : 500px;
    width:85px;
}

#insta img{
    position: absolute;
    top:100px;
    left: 650px;
    width:85px;
}

#github img{
    position: absolute;
    top:100px;
    left: 800px;
    width:85px;
}
